.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #22c55e;
  --rdp-background-color: #e5e7eb;
  --rdp-accent-color-dark: #16a34a;
  --rdp-background-color-dark: #374151;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 2px solid var(--rdp-accent-color);
  margin: 1em;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
  color: white;
}

.dark .rdp-day_selected,
.dark .rdp-day_selected:focus-visible,
.dark .rdp-day_selected:hover {
  background-color: var(--rdp-accent-color-dark);
}

.rdp-day:hover:not(.rdp-day_selected) {
  background-color: var(--rdp-background-color);
}

.dark .rdp-day:hover:not(.rdp-day_selected) {
  background-color: var(--rdp-background-color-dark);
} 